* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    align-items: center;
}

.top>*, .adBackground {
    max-width: 800px;
    width: 100%;
}

.information>*, .quoteSection>*, .adContent {
    max-width: 600px;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.headerLogo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.navLinks {
    display: flex;
    gap: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.header a, .heroText p, .heroText button, .heroImage {
    color: #e5e7eb;
}

.hero {
    display: flex;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.heroText, .heroImage {
    flex: 1;
}

.heroText h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.heroText>* {
    padding: 5px 0;
}

button {
    padding: 7px 0;
    margin: 8px 0 5px;
    background-color: #3882f6;
    width: 100px;
    border-radius: 8px;
    border: 0;
    font-size: 13px;
    font-weight: 900;
}

.heroImage {
    background-color: gray;
    align-self: stretch;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 25px 0 30px;
}

.informationCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.card {
    width: 160px;
}

.card img {
    display: block;
    height: 160px;
    border: 4px solid #3882f6;
    border-radius: 10px;
    box-sizing: border-box;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 50px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoteAuthor {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

.ads {
    display: flex;
    align-items: center;
    justify-content: center;
}

.adBackground{
    display: flex;
    justify-content: center;
    background-color: #3882f6;
    margin: 80px 0;
    border-radius: 5px;
}

.adContent {
    display: flex;
    align-items: center;
    color: #e5e7eb;
}

.adInfo {
    padding: 40px 0;
    flex: 1;
}

.adInfo h5 {
    font-size: 20px;
    font-weight: bold;  
}

.adContent button {
    border: 2px solid #e5e7eb;
    color: #e5e7eb;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    background-color: #1f2937;
}